.Select {
  width: 100%;
  border-radius: 18px;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid var(--gray-border);
  margin-top: 18px;
}
.Selected {
  width: 100%;
  border-radius: 18px;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid var(--color-kiyoon);
  margin-top: 18px;
  filter: drop-shadow(0px 2px 5px var(--color-kiyoon));
}
.Title {
  font-size: x-large;
  font-weight: bolder;
  margin: 0;
  margin: 15px 15px 0 15px;
}

.Content {
  margin: 0;
  font-size: small;
  margin: 0 0 15px 15px;
}
