.Select {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid var(--grey-border);
}
.Select.Select-background-fill {
  background-color: var(--color-kiyoon);
  color: white;
}
.title {
  font-size: x-large;
  font-weight: bolder;
  margin: 0;
  margin: 15px 15px 0 15px;
}

.content {
  margin: 0;
  font-size: small;
  margin: 0 0 15px 15px;
}
