.nickNamePass {
    background-color: var(--color-taehwan);
  }
  
  .nickNameFail {
    background-color: var(--red-border);
  }
  
  .InputText {
    border-bottom: 2px solid var(--gray-extra);
    :focus {
      outline: none;
    }
  
    .Content {
      background-color: var(--gray-bg);
    }
    .RightBtn {
      white-space: nowrap;
    }
  }
  
  .Error {
    color: var(--color-warning);
  }