.emailCheck {
  background-color: var(--gray-border);
}
.emailInput {
  background-color: transparent;
}

.nickNameCheck {
  background-color: var(--gray-border);
}
.InputText {
  border-bottom: 2px solid var(--red-border);
  :focus {
    outline: none;
  }

  .Content {
    background-color: var(--gray-bg);
  }
  .RightBtn {
    white-space: nowrap;
  }
}

.Error {
  color: var(--color-warning);
}
