@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-chunsik: #fff962;
  --color-kiyoon: #5669ff;
  --color-guembi: #ffaf14;
  --color-taehwan: #e6e6fa;

  --grey-bg: #fafafa;
  --grey-border: #e7e7e7;
  --grey-hr: #dddddd;
  --grey-enabled: #d5d5d5;

  --red-border: #ff9b9b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 배경색 */
.grey-bg {
  background-color: #fafafa;
}

/* 선색, 부가설명 배경 */
.grey-border {
  background-color: #e7e7e7;
}

/* 구분선 */
.grey-hr {
  background-color: #dddddd;
}

/* 미사용 버튼 , 부가설명*/
.grey-enabled {
  background-color: #d5d5d5;
}
