.algoDate {
  width: 100%;
  text-align: center;
  .algoNumber {
    font-size: small;
    background-color: lightgreen;
    border-radius: 12px;
    padding: 12px;
    height: 70px;
  }
  .algoZero {
    font-size: small;
    background-color: lightcoral;
    border-radius: 12px;
    padding: 12px;
    height: 70px;
  }
}
