server:
  port: 0

spring:
  application:
    name: pay-service
  h2:
    console:
      path: /h2-console
      settings:
        web-allow-others: true
      enabled: true
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password: 1234
eureka:
  instance:
    instance-id: ${spring.application.name}:${spirng.application.instance_id:${random.value}}
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
