.InputText {
  border-bottom: 2px solid #ff9b9b;
  width: 100%;
  margin-bottom: 8px;

  :focus {
    outline: none;
  }

  .LabelName {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .Content {
    background-color: var(--grey-bg);
  }
  .RightBtn {
    white-space: nowrap;
  }
}
