.fee {
  display: flex;
  justify-content: space-between;
}
.boxStyle {
  border-top: 2px solid var(--gray-extra);
}
.float {
  float: left;
}
.mid {
  padding: 4px 8px 0 8px;
}
.footer {
  background-color: var(--gray-bg);
  justify-content: space-between;
  padding: 24px;
}
