:root {
  --color-chunsik: #fff962;
  --color-kiyoon: #5669ff;
  --color-guembi: #ffaf14;
  --color-taehwan: #e6e6fa;
}
.box {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #c9c9c9;
  display: flex;
}
.icon {
  margin: 10px;
  box-sizing: border-box;
}
.inputbox {
  border: 0;
  width: 100%;
  padding-left: 15px;
}
.inputbox:focus {
  outline: none;
}
